<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<description>导入jdp中的applicationContext文件列表</description>

	<import resource="security/spring-config-security.xml" />
	<!--<import resource="webservice/spring-config-soap.xml" />-->
    <!--<import resource="search/spring-config-solr.xml" />-->
    <import resource="cache/spring-config-redis.xml" />
    <import resource="cache/spring-config-memcached.xml" />
</beans>